# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
build
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
